.about {
  scroll-margin-top: 3rem;
  display: flex;
  flex-direction: column;
  background-color: var(--dark);
}

.about-text {
  color: var(--light);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5em 1em;
}

.about-title {
  margin-bottom: 0.5em;
  opacity: 0;
  transition: 0.6s all ease;
}

.title-animation {
  opacity: 1;
}

.about-para {
  font-size: 1.1rem;
  color: var(--grey);
  max-width: 65ch;
  line-height: 1.8em;
  opacity: 0;
  transition: 0.6s all ease;
}

.para-animation {
  opacity: 1;
}