.about {
  display: flex;
  flex-direction: column;
  scroll-margin-top: 5rem;
  background-color: var(--light);
}

.about-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 5rem;
}

.about-title {
  font-size: 5rem;
  margin-bottom: 0.5em;
  margin-top: -1rem;
  opacity: 0;
  transition: 0.6s all ease;
}

.title-animation {
  margin-top: 0;
  opacity: 1;
}

.about-para {
  font-size: 1.1rem;
  color: var(--dark-grey);
  max-width: 65ch;
  line-height: 1.8em;
  opacity: 0;
  transition: 0.6s all ease;
}

.para-animation {
  opacity: 1;
}