.contact {
  scroll-margin-top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  padding-block: 7rem;
}

.contact-title {
  text-align: center;
  color: var(--light-grey);
  margin-bottom: 0.5em;
  opacity: 0;
  transition: 0.3s all ease;
}

.contact-title-animation {
  opacity: 1;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

form > * {
  width: min(100%, 40rem);
}

.input-field {
  display: flex;
  flex-direction: column;
  margin-right: 6rem;
  opacity: 0;
  transition: 0.6s all ease;
}

.input-field-animation {
  margin-right: 0;
  opacity: 1;
}

label {
  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--dark-grey);
}

input,
textarea {
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
  padding: 0.6rem;
  border: none;
  outline: none;
  color: var(--grey);
  background-color: #1c1f1f;
  box-shadow: 0 0 3px 4px hsla(0, 0%, 0%, 0.025);
  border-bottom: 3px solid #1c1f1f;
  border-radius: 5px;
  resize: none;
  transition: 0.3s ease;
}

input:hover,
textarea:hover {
  border-bottom: 3px solid var(--dark-grey);
}

input:focus,
textarea:focus {
  border-bottom: 3px solid var(--grey);
}

.btn-submit {
  display: block;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.5em 1.7em;
  margin-top: 1em;
  color: var(--dark);
  background-color: var(--light-grey);
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  opacity: 0;
  transition: 0.2s background-color ease, 0.6s opacity ease;
}

.btn-submit-animation {
  opacity: 1;
}

.btn-submit:hover {
  background-color: var(--dark-grey);
}
