.footer,
.footer ul {
  display: flex;
}

.footer {
  background-color: var(--dark);
  justify-content: space-between;
  align-items: center;
  padding: 5em;
}

.nav-links {
  gap: 3rem;
  opacity: 0;
  transition: 0.6s opacity ease;
  text-align: center;
}

.social-links {
  gap: 2rem;
  opacity: 0;
  transition: 0.6s opacity ease;
}

.nav-links a,
i {
  color: var(--light);
  font-weight: 500;
}

.copyright {
  color: var(--light);
  font-size: 1.2rem;
  text-align: center;
  opacity: 0;
  transition: 0.6s opacity ease;
}

.footer-animation {
  opacity: 1;
}

@media screen and (max-width: 1076px) {
  .footer {
    padding: 5em 2em;
  }
}

@media screen and (max-width: 982px) {
  .footer {
    flex-direction: column;
    gap: 3rem;
  }
}

@media screen and (max-width: 450px) { 
  .nav-links {
    flex-direction: column;
  }
}
