.hamburger-menu {
  display: none;
  animation: navbar-animation 0.6s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.hamburger {
  position: relative;
  display: none;
  padding-block: 1rem;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
}

.bar {
  position: relative;
  width: 1.5rem;
  height: 2px;
  background-color: var(--light);
  transition: 0.3s background-color ease;
}

.open .bar {
  background-color: var(--dark);
}

.bar::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 2px;
  background-color: inherit;
  margin-top: 0.5rem;
}

.bar::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 2px;
  background-color: inherit;
  margin-top: -0.5rem;
}

.menu {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin-left: 100%;
  background-color: var(--light);
  transition: 0.4s margin-left ease;
}

.open .menu {
  margin-left: 30%;
  box-shadow: 0 0 3px 4px hsla(0, 0%, 26%, 0.376);
  touch-action: none;
}

.hamburger-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 8rem 0;
}

.hamburger-link {
  display: block;
  color: var(--dark);
  font-size: 1.1rem;
  letter-spacing: 0.4em;
  padding: 1em 2em;
  transition: 0.3s all ease;
}

.hamburger-link:hover,
.hamburger-link:active {
  background-color: var(--light-grey);
}

.mask {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0);
  z-index: 0;
  opacity: 0;
  transition: 0.3s all ease;
  pointer-events: none;
}

.open .mask {
  opacity: 0.6;
  pointer-events: all;
  touch-action: none;
}

@media screen and (max-width: 600px) {
  .hamburger-menu,
  .hamburger {
    display: block;
  }
}
