.home {
  position: relative;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
}

.home-text {
  font-size: calc(2vw);
  position: relative;
  height: 100%;
  padding-left: 4em;
  padding-right: 1em;
  z-index: 2;
}

.title {
  position: relative;
  color: var(--light);
  font-size: clamp(3.5rem, calc(8vw), 7rem);
  font-weight: 500;
  margin-bottom: 0.6em;
  animation-fill-mode: backwards;
  overflow: hidden;
}

.title:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  background-color: var(--dark);
  right: 0;
  left: 100%;
  animation: hometext-animation 0.4s ease-in-out;
  animation-delay: 0.35s;
  animation-fill-mode: backwards;
}

.role {
  font-size: clamp(1.4rem, calc(3vw), 2rem);
  color: var(--grey);
  margin-bottom: 2.5em;
  animation: role-animation 0.35s;
  animation-delay: 0.65s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.resume {
  display: inline-block;
  font-size: clamp(1.1rem, calc(2vw), 1.5rem);
  font-weight: 600;
  color: var(--light-grey);
  text-decoration: none;
  padding: 0.6em 1.4em;
  /* margin-bottom: 2em; */
  border: 2px solid var(--light-grey);
  border-radius: 6px;
  transition: 0.25s all ease-in-out;
  background-color: transparent;
  animation: button-animation 0.35s;
  animation-delay: 1s;
  animation-timing-function: ease;
  animation-fill-mode: backwards;
}

.resume:hover {
  color: var(--dark);
  background-color: var(--light-grey);
}

.sidebar {
  position: absolute;
  width: 0.6em;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--light);
  animation: sidebar-animation 0.35s ease;
  animation-fill-mode: backwards;
}

.watermark {
  position: absolute;
  font-size: 20rem;
  color: hsla(0, 0%, 100%, 0.008);
  bottom: 0;
  pointer-events: none;
  animation: appearing-animation 0.3s;
  animation-delay: 1.5s;
  animation-timing-function: ease-out;
  animation-fill-mode: backwards;
  user-select: none;
}

.additional-scroll {
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.additional-scroll span {
  display: block;
  padding: 1em;
  text-align: right;
  color: var(--grey);
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-right: -0.5rem;
  animation: appearing-animation 0.3s ease 1.3s 1 normal backwards;
}

.scroll {
  display: flex;
  width: 1.5rem;
  height: 3rem;
  margin: 0 auto;
  border-radius: 1.5rem;
  border: 2px solid var(--light-grey);
  animation: scroll-btn-animation 0.3s ease 1.4s;
  animation-fill-mode: backwards;
}

.ball {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--light-grey);
  margin: 2px;
  align-self: flex-start;
  opacity: 0;
  animation: ball-animation 1.4s ease infinite;
  animation-delay: 1.4s;
  animation-fill-mode: forwards;
}


@keyframes scroll-btn-animation {
  from {
    opacity: 0;
    height: 0;
  }

  to {
    opacity: 1;
    height: 3rem; 
  }
}

@keyframes ball-animation {
  0% {
    margin-top: 2px;
    opacity: 1;
  }
  75% {
    margin-top: 140%;
  }

  100% {
    margin-top: 2px;
    opacity: 1;
  }
}

@keyframes sidebar-animation {
 from {
   height: 0;
 }
 to {
   height: 100%;
 }
}

 @keyframes hometext-animation {
   from {
     left: 0;
    }
    to {
      left: 100%;
    }
}

@keyframes role-animation {
  0% {
    opacity: 0;
    margin-top: -4rem;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

@keyframes button-animation {
 0% {
    transform: translateX(80%);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appearing-animation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
