.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 3;
  background-color: var(--dark);
}

.links {
  display: flex;
  padding: 2.5em;
  justify-content: center;
  gap: 5em;
  list-style: none;
}

.link {
  position: relative;
  text-decoration: none;
  color: var(--grey);
  font-weight: 700;
  animation: navbar-animation 2s;
  animation-timing-function: ease-in-out;
}

.link::after {
  content: "";
  position: absolute;
  bottom: -1em;
  left: 50%;
  width: 0px;
  height: 3px;
  transform: translateX(-50%);
  background-color: var(--light);
  transition: 0.3s width ease;
}

.link:hover::after {
  width: 100%;
}

@keyframes navbar-animation {
  0% {
    opacity: 0;
  }
  
  75% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
