.portfolio {
  scroll-margin-top: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--dark);
  padding-block: 5rem;
}

.portfolio-title {
  color: var(--light);
  font-size: 5rem;
  margin-top: -1rem;
  opacity: 0;
  margin-bottom: 1em;
  transition: 0.3s all ease;
}

.portfolio-title-animation {
  margin-top: 0;
  opacity: 1;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
