.portfolio-item {
  display: flex;
  gap: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-self: center;
  max-width: 28rem;
  gap: 1rem;
}

.img-container {
  box-shadow: 0 0 3px 4px hsla(0, 0%, 0%, 0.157);
  opacity: 0;
  transform: translateX(-50%);
  transition: 0.4s all ease;
}

.text-container {
  opacity: 0;
  transform: translateX(50%);
  transition: 0.4s all ease;
}

.container-animation {
  transform: translateX(0);
  opacity: 1;
}

.project-img {
  aspect-ratio: 16/9;
}

.project-title {
  font-size: 1.8rem;
  color: var(--dark);
}

.project-description {
  color: var(--dark-grey);
  font-weight: 500;
}

.site-links {
  margin-top: 1.4em;
}

.site-links a {
  display: inline-block;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
  padding: 0.5em 1.5em;
  margin-right: 1em;
  border: 3px solid var(--dark-grey);
  transition: 0.2s box-shadow ease;
  
}

.site-links a:hover {
  box-shadow: 0 0 3px 5px hsla(0, 0%, 0%, 0.308);
}

.view-site {
  color: var(--light-grey);
  background-color: var(--dark-grey);
}

.view-code {
  color: var(--dark-grey);
}
