.portfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--light-grey);
  scroll-margin-top: 5rem;
  padding-block: 5rem;
}

.portfolio-title {
  font-size: 4rem;
  margin-bottom: 1em;
}

.portfolio-items {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
