.skill-logo {
  max-height: 100%;
  width: 100%
}

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  background: var(--dark);
  padding: 4em 0em;
  padding-bottom: 5em;
}

.skills-title {
  margin-bottom: 0.8em;
  color: var(--light);
  opacity: 0;
  transition: 0.6s ease all;
}

.skills-title-animation {
  opacity: 1;
}

.logo-container {
  text-align: center;
  height: 8rem;
  width: 8rem;  
  opacity: 0;
  transition: 0.6s all linear;
  padding: 0.3rem;
}

.logo-container span {
  display: block;
  color: var(--light);
  font-size: 1.2rem;
  margin-top: 1em;
}

.logos {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
  gap: 5rem;
}

.logo-animation {
  opacity: 1;
}

@media screen and (max-width: 750px) {
  .logos {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 340px) {
  .logos {
    grid-template-columns: 1fr;
  }
}