@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h3,
p {
  font-family: "STIX Two Text", serif;
}

:root {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(240, 8%, 5%);
  --light-grey: hsl(0 0% 96%);
  --grey: hsl(221, 13%, 62%);
  --dark-grey: hsl(228, 10%, 31%);
  --accent: hsl(237, 91%, 91%);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark);
}

.App {
  
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.section-title {
  font-size: clamp(3rem, calc(6vw), 5rem);
}