* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --light: hsl(0, 0%, 100%);
  --dark: hsl(240, 8%, 5%);
  --light-grey: hsl(0 0% 96%);
  --grey: hsl(221, 13%, 62%);
  --dark-grey: hsl(228, 10%, 31%);
  --accent: hsl(237, 91%, 91%);
}

html {
  scroll-behavior: smooth;
}